<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="getBackButtonText()" defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="message">
  <ion-item>
    <ion-img [src]="getLogoSrc(message.merchant)"></ion-img>
  </ion-item>
  <ion-item>
    <ion-label class="ion-text-wrap">
      <h2>
        {{ message.merchant }}
        <span class="date">
          <ion-note>{{ message.transactionDate |  date:'dd/MM/yyyy hh:mm:ss' }}</ion-note>
        </span>
      </h2>
    </ion-label>
  </ion-item>
  <div class="ion-padding">
    <h1>Total: {{ message.total }}</h1>
    <ion-list>
      <ion-item *ngFor="let item of message.items">
        <ion-note slot="start" color="secondary">{{item.quantity || '-'}}</ion-note>
        <ion-label color="dark">{{item.name || '-'}}</ion-label>
        <ion-note slot="end" color="primary">{{item.price || '-'}}</ion-note>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
